<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icono -->
    <link rel="icon" href="/resources/img/Mini_icono.png">
    <!-- titulo -->
    <title>Talentum</title>
    <!-- css -->
    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
    <div class="cuerpo">
        
        <!-- left -->
        <div class="left"></div>
        <!-- right -->
        <div class="right">
            <h1 class="titulo_bienvenida">Te damos la bienvenida a Talentum</h1>
            <form class="inicioSesion" method="POST" action="index">
                <h4 class="titulo_pag">INICIAR SESIÓN</h4>
                <!-- seccion de correo -->
                <div class="campo">
                    <label for="email" class="label_inicio">Correo Electrónico</label>
                    <input type="email" class="input_inicio" id="email" name="email" required>
                </div>
                <!-- seccion de contraseña -->
                <div class="campo">
                    <label for="contraseña" class="label_inicio">Contraseña</label>
                    <input type="password" class="input_inicio" id="contraseña" name="contraseña" required>
                </div>
                <!-- boton -->
                <button type="submit" class="btn_inicio botones">Ingresar</button>
                <!-- enlace para registarse  -->
                <div class="registro">
                    <p>¿No tienes una cuenta?</p>
                    <a href="registrar" class="registrarse">Regístrate ahora</a>
                </div> 
            </form>
        </div>
    </div>
    
    
</body>
</html>