<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icono -->
    <link rel="icon" href="/resources/img/Mini_icono.png">
    <!-- titulo -->
    <title>Talentum</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/resources/css/style.css">
    <style>
      .icon-container {
          text-align: center;
          margin-top: 80px;
      }

      .animated-icon {
          width: 50px; /* Ajusta el tamaño según necesites */
          height: 50px;
          opacity: 0.7;
          transition: opacity 0.5s ease;
      }

      .animated-icon:hover {
          opacity: 1;
      }
  </style>
</head>
<body>
    <!-- titulo principal fuera del cuadro de inicio de sesion -->
    <h1 class="titulo_bienvenida">
        <span id="welcome-text">Bienvenido a</span> Talentum
    </h1>
  
    <div class="inicio">
      <form class="inicioSesion" method="POST" action="index">
        <h4 class="titulo_pag">INICIAR SESIÓN</h4>
        <!-- sección de correo -->
        <div class="mb-3" id="email-section">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <!-- sección de contraseña -->
        <div class="mb-3 hidden" id="password-section">
          <label for="contraseña" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="contraseña" name="contraseña" required>
        </div>
        <!-- boton -->
        <button type="button" class="btn btn-primary botones" id="continue-button">Continuar</button>
        <!-- enlace para registrarse -->
        <div class="registro">
          <p>¿No tienes una cuenta?</p>
          <a href="registrar" class="registrar">Regístrate ahora</a>
        </div>
      </form>
    </div>

    <div class="icon-container">
      <a href="https://github.com/AndresAndyRC/Proyecto_final_Talentum" class="icon-link">
          <img src="/resources/img/github.webp" alt="Ícono" class="animated-icon">
      </a>
  </div>
    
    <script>
        document.getElementById('continue-button').addEventListener('click', function() {
            // Obtener secciones y elementos
            const emailSection = document.getElementById('email-section');
            const passwordSection = document.getElementById('password-section');
            const continueButton = document.getElementById('continue-button');

            // Verificar si el campo de contraseña está oculto
            if (passwordSection.classList.contains('hidden')) {
                // Mostrar el campo de contraseña y ocultar el de correo
                passwordSection.classList.remove('hidden');
                emailSection.classList.add('hidden');

                // cambiar el texto del botón a "Ingresar"
                continueButton.textContent = 'Ingresar';
            } else {
                // lógica para el ingreso
                document.querySelector('.inicioSesion').submit();
            }
        });

        const welcomeText = document.getElementById("welcome-text");

        const phrases = ["Welcome to", "Bienvenue à", "Willkommen in", "Bienvenuto a", "Bienvenidos a"];
        let currentIndex = 0;

        function changeText() {
            welcomeText.textContent = phrases[currentIndex];
            currentIndex = (currentIndex + 1) % phrases.length;  // Cambia al siguiente índice
        }

        setInterval(changeText, 3000); // cambia cada 3 segundos



    </script>   
</body>
</html>