<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icono -->
    <link rel="icon" href="/resources/img/Mini_icono.png">
    <!-- titulo -->
    <title>Talentum</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
    <div class="inicio">
        <form class="IniRegistrar" method="POST" action="registrar">
            <h4 class="titulo_pag">REGISTRARSE</h4>
            <!-- Sección de nombres -->
            <div class="campo">
                <label for="nombres" class="label_inicio">Nombres</label>
                <input type="text" class="form-control" id="nombres" name="nombres" pattern="[A-Za-z\s]+" title="Por favor, ingresa solo letras" required>
            </div>
            <!-- Sección de apellidos -->
            <div class="campo">
                <label for="apellidos" class="label_inicio">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" pattern="[A-Za-z\s]+" title="Por favor, ingresa solo letras" required>
            </div>
            <!-- Sección de correo -->
            <div class="campo">
                <label for="email" class="label_inicio">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <!-- Sección de teléfono -->
            <div class="campo">
                <label for="telefono" class="label_inicio">Teléfono</label>
                <input type="tel" class="form-control" id="telefono" name="telefono" pattern="3[0-9]{9}" title="Debe comenzar con 3 y tener 10 dígitos" required>
            </div>
            <!-- Sección de nickname -->
            <div class="campo">
                <label for="nickname" class="label_inicio">Nickname</label>
                <input type="text" class="form-control" id="nickname" name="nickname" required>
            </div>
            <!-- Sección de contraseña -->
            <div class="campo">
                <label for="contraseña" class="label_inicio">Contraseña</label>
                <input type="password" class="form-control" id="contraseña" name="contraseña" required>
            </div>
            <!-- Sección de fecha de creación (oculta) -->
            <div class="campo">
                <input value="" type="date" class="form-control" id="fecha_creacion" name="fecha_creacion" hidden>
            </div>
            <!-- Sección de rol (oculto) -->
            <div class="campo">
                <input value="2" type="number" class="form-control" id="rol_id" name="rol_id" hidden>
            </div>
            <!-- Botón de registro -->
            <button type="submit" class="btn_inicio botones">Continuar</button>
            <button type="button" class="btn_inicio goback" onclick="window.history.back()">Volver</button>
        </form>
    </div>

    <script>
        // Obtener la fecha actual
        const today = new Date();
        // Formatear la fecha a "YYYY-MM-DD"
        const formattedDate = today.toISOString().split('T')[0];
        // Asignar la fecha formateada al campo de entrada
        document.getElementById('fecha_creacion').value = formattedDate;
    </script>
</body>
</html>